$Cyan: hsl(179, 62%, 43%);
$Cyan-Light: hsl(179, 47%, 52%);
$White: hsl(0, 0%, 100%);
$Bright_Yellow: hsl(71, 73%, 54%);
$Light_Gray: hsl(204, 43%, 93%);
$Grayish_Blue: hsl(218, 22%, 67%);
$body_bs: hsl(210, 35%, 80%);
$button_bs:  hsl(179, 60%, 40%);


$default_font: 'Karla', sans-serif;

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }